/* Inicio Tabs */
.tabContainter { 
  width: 100%;
  display: inline-block; }

.tabLinks:after {
  display: block;
  clear: both;
  content: ''; }
.tabLinks li {
  margin: 0px 2px;
  float: left;
  list-style: none; }
.tabLinks a {
  text-align: center;
  min-width: 100px;
  padding: 0px 15px;
  display: inline-block;
  border-radius: 50px 50px 0px 0px;
  background: #009FE3;
  font-family: futura-lt;
  font-size: 18px;
  color: white;
  transition: all linear 0.15s; }
.tabLinks a:hover {
  background: #a7cce5;
  text-decoration: none; }
.tabLinks li.active a, .tabLinks li.active a:hover {
  background: #3552A0;
  color: white; }

.tabContenido {
  padding: 0 15px 5px;
  border-radius: 3px;
  /*box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);*/
  /*background: #fff; */
  }
  .tabContenido .tab {
    display: none; }
  .tabContenido .tab.active {
    display: block; }

/* Fin Tabs*/